{{!< default}}
{{#post}}



    <section id="about">
        <div class="row bg-primary" style="margin-top: -30px; min-height: 100px;">
            <div class="col-md-12">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="section-heading text-uppercase">{{title}}</h2>
                    <hr class="primary">
                    <div class="text-justify">{{content}}</div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Team
================================================== -->
    <section class="no-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="section-heading text-uppercase">MEET <b>SOYZ</b> TEAM</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="col-md-4 bg-primary no-padding teambox">
            <div class="team-thumb overlay-image view-overlay">
                <img src="http://ugyouthsenate.org/wp-content/uploads/2016/10/FB_IMG_1475826520035.jpg" alt="" class="img-responsive">
                <div class="mask team_quote">
                    <div class="port-zoom-link">
                        <p>
                            Its is great to work in such company, some other projects will be started in the same format!
                        </p>
                    </div>
                </div>
            </div>
            <h2>Modestus Mwachindalo</h2>
            <p>
                VOLUNTEER WORK
            </p>
            <div class="team-social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-skype"></i></a>
            </div>
        </div>
        <div class="col-md-4 bg-dark no-padding teambox">
            <div class="team-thumb overlay-image view-overlay">
                <img src="http://ugyouthsenate.org/wp-content/uploads/2016/10/FB_IMG_1475826520035.jpg" alt="" class="img-responsive">
                <div class="mask team_quote">
                    <div class="port-zoom-link">
                        <p>
                            Its is great to work in such company, some other projects will be started in the same format!
                        </p>
                    </div>
                </div>
            </div>
            <h2>Modestus Mwachindalo</h2>
            <p>
                SOYZ FOUNDER
            </p>
            <div class="team-social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-skype"></i></a>
            </div>
        </div>
        <div class="col-md-4 bg-primary no-padding teambox">
            <div class="team-thumb overlay-image view-overlay">
                <img src="http://ugyouthsenate.org/wp-content/uploads/2016/10/FB_IMG_1475826520035.jpg" alt="" class="img-responsive">
                <div class="mask team_quote">
                    <div class="port-zoom-link">
                        <p>
                            Its is great to work in such company, some other projects will be started in the same format!
                        </p>
                    </div>
                </div>
            </div>
            <h2>Modestus Mwachindalo</h2>
            <p>
                PUBLIC RELATIONS
            </p>
            <div class="team-social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-skype"></i></a>
            </div>
        </div>
    </section>
    <div class="clearfix">
    </div>
{{/post}}